conformer
diffusers
fastapi
fastapi-cli
gdown
gradio
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
onnx
onnxruntime
openai-whisper
protobuf
pyarrow
pydantic
pyworld
rich
soundfile
tensorboard
torch
torchaudio
transformers
uvicorn
WeTextProcessing
wget
