conformer
diffusers
fastapi
fastapi-cli
gdown
gradio
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
onnx
onnxruntime
onnxruntime-gpu
openai-whisper
protobuf
pyarrow
pydantic
pyworld
rich
soundfile
tensorboard
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tensorrt-cu12
tensorrt-cu12-bindings
tensorrt-cu12-libs
transformers
uvicorn
WeTextProcessing
wget